<div id="<%= dom_id actividad %>">
  <p>
    <strong>Rails:</strong>
    <%= actividad.rails %>
  </p>

  <p>
    <strong>G:</strong>
    <%= actividad.g %>
  </p>

  <p>
    <strong>Scaffold:</strong>
    <%= actividad.scaffold %>
  </p>

  <p>
    <strong>Curso:</strong>
    <%= actividad.Curso %>
  </p>

  <p>
    <strong>Grado:</strong>
    <%= actividad.grado %>
  </p>

  <p>
    <strong>Letra:</strong>
    <%= actividad.letra %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= actividad.usuario_id %>
  </p>

</div>
